<!doctype html>
<title>Ejercicio Todo Legal</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Seleciones el ejercicio</h1>
    <h2><a href='/1'>Ejercicio 1</a></h2>
    <p><a href='/1/euro'>Ejercicio 1 Euros a USD</a> </p>       
    <p><a href='/1/argetina'>Ejercicio 1 Soles a USD</a> </p>
    <p><a href='/1/chile'>Ejercicio 1 Pesos a USD</a> </p>
    <h2><a href='/2'>Ejercicio 2</h2>
    <p><a href='/2/euro'>Ejercicio 2 Euros a USD</a>  </p>
    <p><a href='/2/argetina'>Ejercicio 2 Soles a USD</a> </p>
    <p><a href='/2/chile'>Ejercicio 2 Pesos a USD</a> </p>
    <h2><a href='/3'>Ejercicio 3 </a> </h2>
    <p>(Advertencia el ejercicio mostrará los resultados anteriores, todos los resultados incluyendo los nuevos resultados seran recibidos en el webhook después de 15 o mas minutos)</p>
</nav>

